<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<servlet>
	<servlet-name>WordPressAuthorisationComplete</servlet-name>
	<servlet-class>com.postr.WordPressAuthorisationComplete</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>WordPressAuthorisationComplete</servlet-name>
	<url-pattern>/WordPressAuthorisationComplete</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>TestServlet</servlet-name>
	<servlet-class>com.postr.TestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>TestServlet</servlet-name>
	<url-pattern>/TestServlet</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Dreamwidth</servlet-name>
	<servlet-class>com.postr.DreamwidthServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Dreamwidth</servlet-name>
	<url-pattern>/Dreamwidth</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Livejournal</servlet-name>
	<servlet-class>com.postr.LivejournalServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Livejournal</servlet-name>
	<url-pattern>/Livejournal</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>WordPress</servlet-name>
	<servlet-class>com.postr.WordpressServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>WordPress</servlet-name>
	<url-pattern>/WordPress</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>MakeSinglePost</servlet-name>
	<servlet-class>com.postr.MakeSinglePostServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>MakeSinglePost</servlet-name>
	<url-pattern>/MakeSinglePost</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>ProcessSinglePostOrFeed</servlet-name>
	<servlet-class>com.postr.ProcessSinglePostOrFeedServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ProcessSinglePostOrFeed</servlet-name>
	<url-pattern>/ProcessSinglePostOrFeed</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>PostBacklog</servlet-name>
	<servlet-class>com.postr.PostBacklogServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PostBacklog</servlet-name>
	<url-pattern>/PostBacklog</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>DeleteOldPosts</servlet-name>
	<servlet-class>com.postr.DeleteOldPostsServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DeleteOldPosts</servlet-name>
	<url-pattern>/DeleteOldPosts</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>TestOutput</servlet-name>
	<servlet-class>com.postr.TestOutputServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>TestOutput</servlet-name>
	<url-pattern>/TestOutput</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>TestInput</servlet-name>
	<servlet-class>com.postr.TestInputServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>TestInput</servlet-name>
	<url-pattern>/TestInput</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Delicious</servlet-name>
	<servlet-class>com.postr.DeliciousServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Delicious</servlet-name>
	<url-pattern>/Delicious</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Pinboard</servlet-name>
	<servlet-class>com.postr.PinboardServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Pinboard</servlet-name>
	<url-pattern>/Pinboard</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Pinterest</servlet-name>
	<servlet-class>com.postr.PinterestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Pinterest</servlet-name>
	<url-pattern>/Pinterest</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>DataManagement</servlet-name>
	<servlet-class>com.postr.DataManagementServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DataManagement</servlet-name>
	<url-pattern>/DataManagement</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>UserData</servlet-name>
	<servlet-class>com.postr.UserDataServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>UserData</servlet-name>
	<url-pattern>/userdata</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>AppData</servlet-name>
	<servlet-class>com.postr.AppDataServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AppData</servlet-name>
	<url-pattern>/appdata</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>PersonaVerification</servlet-name>
	<servlet-class>com.postr.PersonaVerificationServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PersonaVerification</servlet-name>
	<url-pattern>/personaverification</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>PersonaLogout</servlet-name>
	<servlet-class>com.postr.PersonaLogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PersonaLogout</servlet-name>
	<url-pattern>/personalogout</url-pattern>
</servlet-mapping>
<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>
<security-constraint>
  <web-resource-collection>
    <web-resource-name>Secure</web-resource-name>
    <url-pattern>/*</url-pattern>
  </web-resource-collection>
  <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
  </user-data-constraint>
</security-constraint>
</web-app>