<div>
	<div>
		<h3>Test Output details</h3>
	</div>
	<div>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="userName">User Name:</label>
				<div class="controls">
					<input ng-readonly="action=='Update'" ng-model="item.userName"
						name="userName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password:</label>
				<div class="controls">
					<input ng-model="item.password" type="password"
						autocomplete="off" name="password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn" ng-click="verify()">Verify</button>
				</div>
			</div>
			<div>{{verificationMessage}}</div>
		</form>
	</div>
	<div>
		<button class="btn btn-primary" ng-click="Save()">OK</button>
		<button class="btn btn-warning" ng-click="Cancel()">Cancel</button>
	</div>
</div>