<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Postr</title>
		<link rel="stylesheet" href="persona-buttons.css" />
		<script src="http://login.persona.org/include.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="styles.css">
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="wizards.js"></script>
		<script src="persona.js.vm"></script>
		<script type="text/javascript">
			j = $;
			outputs = new Object();
			function AddOutput(outputName, AddOutput, UpdateOutput) {
				$("#output").append(new Option(outputName));
				outputs[outputName] = {Add:AddOutput,Update:UpdateOutput};
			}
			
			function addNewOutput(data){
				var newOption = new Option(data.userName+"@"+data.siteName);
				$("#existingOutputs").append(newOption);
				var newComboItem = $('#existingOutputs option:last-child');
				newComboItem.data(data);
			}
			
		</script>
	</head>
	<body>
		You are signed in as $userdata.Persona <a class="persona-button orange" onclick= "navigator.id.logout()"><span>Sign out</span> </a>
		
		<fieldset>
			<legend>Outputs</legend>
			<select id="existingOutputs">
			#if($userdata.Outputs.size() > 0)
			#foreach($feed in $userdata.Outputs)<option data-user-name=${feed.UserName} data-key=${feed.Id} data-site-name=$feed.SiteName data-time-zone=$feed.TimeZone.ID>
			${feed.UserName}@$feed.SiteName</option>#end
			#end
			</select>
			<label for="UpdateOutputs">Existing</label>
			<input type="submit" id="UpdateOutputs" value="Update">
			<label for="RemoveOutputs">Existing</label>
			<input type="submit" id="RemoveOutputs" value="Remove">
			<BR>
			<select id="output" name="output">
			</select>
			<label for="AddNewOutput">New Input?</label>
			<input type="submit" id="AddNewOutput" value="Add">
		</fieldset>
		
#include("outputs\Dreamwidth.include.html")
#include("outputs\Livejournal.include.html")
		
		<script type="text/javascript">
			j(function(){
				j( "#AddNewOutput" ).click(function() {
					var selectedValue = j("#output option:selected").text();
					outputs[selectedValue].Add().done(function(data){
						addNewOutput(data);
					});
				});
				j( "#UpdateOutputs" ).click(function() {
					var selectedOption = j("#existingOutputs option:selected");
					var selectedData = selectedOption.data();
					outputs[selectedData.siteName].Update(selectedData)
				});
				j( "#RemoveOutputs" ).click(function() {
					var selectedData = j("#existingOutputs option:selected").data();
					RemoveData(selectedData.key).done(function(){
						j("#existingOutputs option:selected").remove();
					});
				});
			});
			function RemoveData(key){
				var params = {method:"RemoveData", key:parseInt(key)};
				var deferral = j.post("datamanagement",{params:JSON.stringify(params)});
				wizards.registerCallForWizardDisplay(deferral);
				return deferral;
			}
		</script>
	        
	        
	        
	</body>

</html>