<form class="form-horizontal">
	<fieldset>
		<legend>User</legend>
		{{data.persona}} - <a href=# ng-click="logout()">sign out</a>
		<div class="control-group">
			<label class="control-label" for="timeZone">Time Zone:</label>
			<div class="controls">
				<select ng-model="data.timeZone" id="timeZone"
					ng-options="zone for zone in timeZones"></select>
				<button ng-click="updateTimeZone()">Update</button>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Inputs</legend>
		<div ng-show="data.inputs.length > 0">
			<table id="existingInputsTable" border=1>
				<tr>
					<th>Input</th>
				</tr>
				<tr ng-repeat="input in data.inputs | orderBy:'userName'">
					<td><A href="#/site/{{input.siteName}}/{{input.id}}">{{data.describeSite(input)}}</A></td>
				</tr>
			</table>
		</div>
		<A href="#/site/input/new">Add New Input</A>
	</fieldset>
	<fieldset>
		<legend>Outputs</legend>
		<div class="control-group" ng-show="data.outputs.length > 0">
			<table id="existingOutputsTable" border=1>
				<tr>
					<th>Output</th>
				</tr>
				<tr ng-repeat="output in data.outputs | orderBy:'userName'">
					<td><A href="#/site/{{output.siteName}}/{{output.id}}">{{data.describeSite(output)}}</A></td>
				</tr>
			</table>
		</div>
		<A href="#/site/output/new">Add New Output</A>
	</fieldset>
	<fieldset>
		<legend>Posts</legend>
		<A href="#/post/new">Create New Post</A>
		<table id="existingPostsTable" border=1>
			<tr>
				<th>Posted</th>
				<th>Subject</th>
				<th>Destination</th>
				<th>Result</th>
			</tr>
			<tr ng-repeat="post in data.posts | orderBy:'postingTime'">
				<td><A href="#/post/{{post.siteName}}/{{post.id}}">{{data.postingTimeAsText(post)}}</A></td>
				<td>{{post.subject}}</td>
				<td>{{postDestination(post)}}</td>
				<td>{{post.result.message}}</td>
			</tr>
		</table>
	</fieldset>
</form>