<form class="form-horizontal">
	<label class="control-label" for="outputDescription">Output:</label>
	<div class="controls">
		<input type="text" ng-readonly="true" value="{{feed.outputDescription}}">
	</div>
	
	<label class="control-label" for="inputs">Input:</label>
	<div class="controls">
	<span
	    multi-select
	    input-model="possibleInputs"
	    button-label="siteName userName"
	    item-label="siteName userName"
	    tick-property="ticked"
	    output-model="selectedInputs"
	>
	</span>
	</div>
	<div class="control-group">
		<label class="control-label" for="subject">Subject Line:</label>
		<div class="controls">
			<input type="text" id="subject" ng-readonly="readOnly" ng-model="feed.subject">
			<button ng-click="resetSubject()">Reset</button>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="contents">Text:</label>
		<div class="controls">
			<textarea rows=5 id="contents" ng-readonly="readOnly" ng-model="feed.contents"></textarea>
			<button ng-click="resetContents()">Reset</button>
		</div>
	</div>
	<label class="control-label" for="postingHour">Time:</label>
	<div class="controls">
		<select 
			ng-model="feed.postingHour"
			ng-options="possibleTime for possibleTime in possibleTimes"
			>
		</select>
	</div>
	<label class="control-label" for="postingDay">Day:</label>
	<div class="controls">
		<input type="text" class="form-control"  ng-readonly="readOnly"
			datepicker-popup="yyyy-MM-dd" ng-model="feed.postingTime" />
	</div>
	
  	<div ng-include ="feedDetailsTemplate"></div>
  	
	<div class="controls">
		<button class="btn btn-primary" ng-click="Save()">OK</button>
		<button class="btn btn-warning" ng-click="Cancel()">Cancel</button>
		<button class="btn btn-danger" ng-show="action=='Update'" ng-click="Delete()">Delete</button>
	</div>
</form>