<form class="form-horizontal">
	<fieldset>
		<legend>User ({{data.persona}})</legend>
		<div class="control-group">
			<a href=# class="persona-button orange" ng-click="logout()"><span>sign out</span></a>
		</div>
		<div class="control-groupp">
			<label class="control-labell" for="timeZone">Time Zone:</label>
			<div class="controlss">
				<select ng-model="data.timeZone" id="timeZone"
					ng-options="zone for zone in timeZones"></select>
				<button ng-click="updateTimeZone()">Update</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Outputs</legend>
		<div ng-show="data.outputs.length > 0">
			<div ng-repeat="output in data.outputs | orderBy:'userName'">
				<A href="#/site/{{output.siteName}}/{{output.id}}">{{data.describeSite(output)}}</A>
			</div>
		</div>
		<A href="#/site/output/new">(Add New Output)</A>
	</fieldset>
	<fieldset  ng-show="data.outputs.length > 0">
		<legend>Inputs</legend>
		<div ng-show="data.inputs.length > 0">
			<div ng-repeat="input in data.inputs | orderBy:'userName'">
				<A href="#/site/{{input.siteName}}/{{input.id}}">{{data.describeSite(input)}}</A>
			</div>
		</div>
		<A href="#/site/input/new">(Add New Input)</A>
	</fieldset>
	<fieldset  ng-show="data.outputs.length > 0 && data.inputs.length > 0">
		<legend>Feeds</legend>
		<A href="#/feed/new">Create New Feed</A>
		<table id="existingFeedsTable" border=1 ng-show="data.feeds.length > 0">
			<tr>
				<th>Description</th>
				<th>Next Post</th>
				<th>Active</th>
			</tr>
			<tr ng-repeat="feed in data.feeds | orderBy:'nextPost'">
				<td><A href="#/feed/{{feed.siteName}}/{{feed.id}}">{{data.describeFeed(feed)}}</A></td>
				<td>{{data.postingTimeAsText(feed)}}</td>
				<td>{{feed.active}}</td>
			</tr>
		</table>
	</fieldset>
	<fieldset  ng-show="data.outputs.length > 0">
		<legend>Posts</legend>
		<A href="#/post/new">Create New Post</A>
		<table id="existingPostsTable" border=1 ng-show="data.posts.length > 0">
			<tr>
				<th>Posted</th>
				<th>Subject</th>
				<th>Destination</th>
				<th>Result</th>
			</tr>
			<tr ng-repeat="post in data.posts | orderBy:'postingTime'">
				<td><A href="#/post/{{post.siteName}}/{{post.id}}">{{data.postingTimeAsText(post)}}</A></td>
				<td>{{post.subject}}</td>
				<td>{{postDestination(post)}}</td>
				<td>{{post.result.message}}</td>
			</tr>
		</table>
	</fieldset>
</form>