<div>
	<div>
		<h3>WordPress</h3>
	</div>
	<div>
		<form class="form-horizontal" name="outputDetails">
			<fieldset>
				<legend>Details</legend>
				<div class="control-group">
					<div class="controls">
						<Button ng-click="item.verifyWordPress()">Click here to verify</Button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div>
		<button class="btn btn-primary" ng-click="Save()">OK</button>
		<button class="btn btn-warning" ng-click="Cancel()">Cancel</button>
		<button class="btn btn-danger" ng-show="action=='Update'"
			ng-click="Delete()">Delete</button>
	</div>
</div>